<div class="ui container">
    <div class="ui secondary pointing menu">
        <a [routerLink]="['/']" routerLinkActive="active" class="item">Angular Email</a>

        <div class="right menu">
            <ng-container *ngIf="signedin$ | async" >
                <a [routerLink]="['/inbox']" routerLinkActive="active"  class="ui item">Inbox</a>
                <a [routerLink]="['/signout']" routerLinkActive="active"  class="ui item">Sign out</a>
            </ng-container>

            <ng-container *ngIf="!(signedin$ | async)" >
                <a [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"  class="ui item">Sign In</a>
                <a [routerLink]="['/signup']" routerLinkActive="active"  class="ui item">Sign up</a>
            </ng-container>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
